/npm/node_modules
.vscode/

# /projects/lab3/timer

.DS_Store
node_modules/
/projects/lab3/timer/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/projects/lab3/timer/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
