body {
    margin : 0;
}

.head {
    background-color: #97A5BC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-size: 0;
    height : 40px;
    padding: 15px 30px;
    width : 1160px;
}

.button{
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    color: #FFFFFF;
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-size: 16px;
    margin: 0 10px;
    padding: 9px;
}

.blueBtn{
    background-color: #2188E9;
}

.redBtn{
    background-color: #DD2E1D;
    float: right;
}

.yellowBtn{
    background-color: #FFB020;
    float: right;
}

.time{
    color: #333333;
    font-size: 200px;
    height: 224px;
    margin: 0;
}

.clockDiv{
    background-color: #F2F4F7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    font-family: PTMono-Bold, 'PT Mono';
    font-weight: bold;
    height: 224px;
    margin: 0;
    padding: 115px 130px 101px 131px;
    /* padding: 127px 130px 113px 131px; */
    text-align: center;
    width: 959px;
}

.inputDiv{
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    display: inline-block;
    font-size: 16px;
    height: 22px;
    margin: 0 10px;
    padding: 9px;
    width: 52px;
}

.inputBox{
    border: none;
    color: #AFAFAF;
    font-family: PingFangSC-Regular, 'PingFang SC';
    font-size: 16px;
    height: 22px;
    padding: 0;
    width: 32px;
}

.inputText{
    color: #222222;
    float: right;
    margin: 0; 
}

.infoText{
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}